h1{
    color: purple;
}

#header1{
    color: green;
}

p{ 
    color: blue; 
}

#latest { 
    background-color: purple; 
}

.navigation { 
    margin: 6px;
}

#blog h1 {
    color: blue;
}
#blog div h1 {
    color: blue;
  }
p:hover {
    color: orange;
}